body{
    font-family: sans-serif;
}

section{
    background-color: white;
}


.nav-bar{
    text-align: left;
}
.hero{  
    padding: 100px;
    color: white;
    background-color: #1f2937;
}

.information{
    padding: 50px;
    color: black;
    
}

    
.quote{
    padding: 50px;
    color: black;
    background-color:rgb(239, 236, 236);
     
}
.valorant-quote{
    font-size: 50px;
    font-weight:lighter; 
    text-align: center;
}
.quote-end{
    text-align: right;
}

.sign-up{
    padding: 90px;
    color: black;
    text-align: center;
    
}

footer{
    padding:15px;
    align-items:end;
    text-align: center;
    background-color: #1f2937;
    color: white;
    word-spacing:0.5mm;
}
